@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px;
    font-family: 'Poppins', sans-serif;
}

.buttons {
    width: 200px;
    height: 65px;
    border: none;
    color: rgb(219, 219, 219);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    transition-duration: 0.99s;
    cursor: pointer;
    background-color: rgb(65, 193, 182);
    border-radius: 25px;
    text-align: center;
}

.button_div {
    display: flex;
    justify-content: center;
    margin-top: 500px;
}

#welcomeText {
    color: blanchedalmond;
    justify-content: center;
    display: flex;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(4, 213, 255);
    background: linear-gradient(90deg, rgba(4, 213, 255, 1) 26%, rgba(3, 147, 212, 1) 53%, rgba(68, 68, 218, 1) 78%, rgba(60, 51, 165, 0.6365896700477065) 96%);
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #04AA6D;
}